<!-- Single box that represents each team and its score -->
<div class="d-flex border border-info text-left lead bg-white">
  <div class="bg-info text-white px-2 align-middle d-flex flex-column justify-content-center">
    <i class="fas fa-users fa-xs"></i>
  </div>
  <div class="flex-fill px-2">
    <span class="bg-white text-right">
      <%= team ? team.name : "---------" %>
    </span>
  </div>
  <button
    type="button"
    class="btn btn-secondary text-right"
    <% if (!team || !opponent || typeof winner === 'boolean' || !currentUser || !owner._id.equals(currentUser._id)) {%> disabled <%}%>
    data-toggle="modal"
    data-target="#bracketFormModal"
    data-bracket-id="<%= bracket._id.toString() %>"
    data-team1-name="<%= bracket.team1 < 0 ? '' : teams[bracket.team1].name %>"
    data-team1-score="<%= bracket.score1 %>"
    data-team2-name="<%= bracket.team2 < 0 ? '' : teams[bracket.team2].name %>"
    data-team2-score="<%= bracket.score2 %>"
  >
    <%= score %>
  </button>
</div>
